.jptho {
--pakistan-green:  #143601ff;
--pakistan-green-2: #1a4301ff;
--dark-moss-green: #245501ff;
--avocado: #538d22ff;
--asparagus: #73a942ff;
--pistachio: #aad576ff;

--cream: #edeec9ff;
--beige: #dde7c7ff;
--tea-green: #bfd8bdff;
--celadon: #98c9a3ff;
--cambridge-blue: #77bfa3ff;

--vanilla: #d4e09bff;
--light-yellow: #f6f4d2ff;
--tea-green: #cbdfbdff;
--atomic-tangerine: #f19c79ff;
}